@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Indie+Flower&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Indie+Flower&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-indie: "Indie Flower", sans-serif;
  --font-fredoka: "Fredoka", sans-serif;
}

.jello-horizontal {
  animation: jello-horizontal 1s linear both;
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

::-webkit-scrollbar {
  width: 10px;
  margin-left: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(163, 255, 70, 0.545);
  border-radius: 10px;
}
